<a href="https://colab.research.google.com/github/SDS-AAU/SDS-master/blob/master/M1/notebooks/DS_basics_example_group_merge_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Groupby & Join (merge)

in this tutorial I'm using the [MovieLens 100k data](https://) to demonstrate different data manipulation techniques
It builds on the by Kevin Markham found here: https://github.com/justmarkham/pandas-videos/blob/master/pandas_merge.ipynb


Out task is to calculate the average rating as well as number of ratings for a movie and add this information to the movies-dataframe

In [ ]:
# Importing the pandas library
import pandas as pd

In [ ]:
# Defining the URLs with data
movies_url= "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item"
ratings_url = "https://github.com/justmarkham/pandas-videos/raw/master/data/u.data"

In [ ]:
# Loading movies

movie_cols = ['movie_id', 'title']
movies = pd.read_table(movies_url, sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [ ]:
movies.movie_id.nunique()

1682

In [ ]:
# Loading ratings

rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table(ratings_url, sep='\t', header=None, names=rating_cols)
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [ ]:
# Number of unique movie_ids

movies.movie_id.nunique()

1682

In [ ]:
# create series with average movie ratings

avg_ratings_series = ratings.groupby(by='movie_id')['rating'].mean()

avg_ratings_series.head()

movie_id
1    3.878319
2    3.206107
3    3.033333
4    3.550239
5    3.302326
Name: rating, dtype: float64

In [ ]:
# create series with the number of ratings a movie has received
n_ratings_series = ratings.groupby(by='movie_id')['rating'].size()

n_ratings_series.name = 'n_ratings'

n_ratings_series.head()

movie_id
1    452
2    131
3     90
4    209
5     86
Name: n_ratings, dtype: int64

In [ ]:
# Merge the average ratings onto the movies dataframe

movies_extended = pd.merge(movies, avg_ratings_series, left_on='movie_id', right_index=True)

movies_extended.head()

   movie_id              title    rating
0         1   Toy Story (1995)  3.878319
1         2   GoldenEye (1995)  3.206107
2         3  Four Rooms (1995)  3.033333
3         4  Get Shorty (1995)  3.550239
4         5     Copycat (1995)  3.302326

In [ ]:
# Merge the number of ratings onto the extended movies dataframe

movies_extended = pd.merge(movies_extended, n_ratings_series, left_on='movie_id', right_index=True)

movies_extended.head()

   movie_id              title    rating  n_ratings
0         1   Toy Story (1995)  3.878319        452
1         2   GoldenEye (1995)  3.206107        131
2         3  Four Rooms (1995)  3.033333         90
3         4  Get Shorty (1995)  3.550239        209
4         5     Copycat (1995)  3.302326         86

In [ ]:
# What is the movie with the highest average rating?

movies_extended.sort_values(by='rating', ascending=False)

      movie_id  ... n_ratings
813        814  ...         1
1598      1599  ...         1
1200      1201  ...         1
1121      1122  ...         1
1652      1653  ...         1
...        ...  ...       ...
1567      1568  ...         1
1566      1567  ...         1
1565      1566  ...         1
1564      1565  ...         1
851        852  ...         1

[1682 rows x 4 columns]

# Your turn



- What is the movie with the highest rating when we only consider movies that at least got a "reasonable" number of ratings (e.g. > 25th percentile)
- However, older movies had more chances to get ratings. What could be done to remedy this problem.
- Can you identify super-raters?
- Are some users perhaps too critical or way to positive (outliers)? Perhaps, we should filter out their reviews?
- What other questions can you come up with? Try to find 2-3 others and solve them.


## Extended homework

Using this data: https://github.com/fivethirtyeight/data/blob/master/alcohol-consumption/drinks.csv about alcohol consuption worldwide (per capita) for 2010.
You can read the article based on the data here: [Dear Mona Followup: Where Do People Drink The Most Beer, Wine And Spirits?](https://fivethirtyeight.com/features/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/)


Try to calculate the total consuption numbers, multiplying the per capita figures with the population of the countries in 2010
https://github.com/datasets/population/blob/master/data/population.csv

In Python you can use the Contrycode package: https://pypi.org/project/countrycode/ to turn contry names into codes for more precise merging (contry-names are often written in various ways)