<a href="https://colab.research.google.com/github/SDS-AAU/SDS-master/blob/master/M1/noteebooks/EDA_case_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Importing packages
library(tidyverse) # metapackage with lots of helpful functions
library(magrittr)

# Exploring the police dataset

Alright, lets get started. First, load the data (csv) from the SDS server

In [3]:
data <- read_csv("https://sds-aau.github.io/SDS-master/M1/data/RI-clean.csv.gz")

Parsed with column specification:
cols(
  .default = col_character(),
  stop_date = col_date(format = ""),
  stop_time = col_time(format = ""),
  county_name = col_logical(),
  county_fips = col_logical(),
  fine_grained_location = col_logical(),
  driver_age_raw = col_double(),
  driver_age = col_double(),
  search_conducted = col_logical(),
  contraband_found = col_logical(),
  is_arrested = col_logical(),
  out_of_state = col_logical(),
  drugs_related_stop = col_logical()
)

See spec(...) for full column specifications.

Lets do a first inspection of the dataset.

In [4]:
data %>% head()

  id            state stop_date  stop_time location_raw county_name county_fips
1 RI-2005-00001 RI    2005-01-02 01:55:00  Zone K1      NA          NA
2 RI-2005-00002 RI    2005-01-02 20:30:00  Zone X4      NA          NA
3 RI-2005-00003 RI    2005-01-04 11:30:00  Zone X1      NA          NA
4 RI-2005-00004 RI    2005-01-04 12:55:00  Zone X4      NA          NA
5 RI-2005-00005 RI    2005-01-06 01:30:00  Zone X4      NA          NA
6 RI-2005-00006 RI    2005-01-12 08:05:00  Zone X1      NA          NA
  fine_grained_location police_department driver_gender ⋯ search_conducted
1 NA                    600               M             ⋯ FALSE
2 NA                    500               M             ⋯ FALSE
3 NA                    000               NA            ⋯ FALSE
4 NA                    500               M             ⋯ FALSE
5 NA                    500               M             ⋯ FALSE
6 NA                    000               M             ⋯ FALSE
  search_type_raw search_type contraband_found stop_outcome is_arrested
1 NA              NA          FALSE            Citation     FALSE
2 NA              NA          FALSE            Citation     FALSE
3 NA              NA          FALSE            NA              NA
4 NA              NA          FALSE            Citation     FALSE
5 NA              NA          FALSE            Citation     FALSE
6 NA              NA          FALSE            Citation     FALSE
  stop_duration out_of_state drugs_related_stop district
1 0-15 Min      FALSE        FALSE              Zone K1
2 16-30 Min     FALSE        FALSE              Zone X4
3 NA               NA        FALSE              Zone X1
4 0-15 Min      FALSE        FALSE              Zone X4
5 0-15 Min      FALSE        FALSE              Zone X4
6 30+ Min        TRUE        FALSE              Zone X1

In [5]:
data %>% glimpse()

Rows: 509,681
Columns: 26
$ id                    <chr> "RI-2005-00001", "RI-2005-00002", "RI-2005-0000…
$ state                 <chr> "RI", "RI", "RI", "RI", "RI", "RI", "RI", "RI",…
$ stop_date             <date> 2005-01-02, 2005-01-02, 2005-01-04, 2005-01-04…
$ stop_time             <time> 01:55:00, 20:30:00, 11:30:00, 12:55:00, 01:30:…
$ location_raw          <chr> "Zone K1", "Zone X4", "Zone X1", "Zone X4", "Zo…
$ county_name           <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ county_fips           <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ fine_grained_location <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ police_department     <chr> "600", "500", "000", "500", "500", "000", "300"…
$ driver_gender         <chr> "M", "M", NA, "M", "M", "M", "M", "M", "M", "M"…
$ driver_age_raw        <dbl> 1985, 1987, NA, 1986, 1978, 1973, 1965, 1967, 1…
$ driver_age            <dbl> 20, 18, NA, 19, 27, 32, 40, 38, 33, 18, 29, 27,…
$ driver_race_raw       <chr> "W", "W", NA, "W", "B", "B", "W", "H", "W", "W"…
$ driver_race           <chr> "White", "White", NA, "White", "Black", "Black"…
$ violation_raw         <chr> "Speeding", "Speeding", NA, "Equipment/Inspecti…
$ violation             <chr> "Speeding", "Speeding", NA, "Equipment", "Equip…
$ search_conducted      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ search_type_raw       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Probable C…
$ search_type           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Probable C…
$ contraband_found      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ stop_outcome          <chr> "Citation", "Citation", NA, "Citation", "Citati…
$ is_arrested           <lgl> FALSE, FALSE, NA, FALSE, FALSE, FALSE, FALSE, F…
$ stop_duration         <chr> "0-15 Min", "16-30 Min", NA, "0-15 Min", "0-15 …
$ out_of_state          <lgl> FALSE, FALSE, NA, FALSE, FALSE, TRUE, TRUE, TRU…
$ drugs_related_stop    <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ district              <chr> "Zone K1", "Zone X4", "Zone X1", "Zone X4", "Zo…

- Each row is one traffic stop
- NA are missing values

In [10]:
data %>%
filter(driver_gender %>% is.na()) %>% 
head()

  id            state stop_date  stop_time location_raw county_name county_fips
1 RI-2005-00003 RI    2005-01-04 11:30:00  Zone X1      NA          NA
2 RI-2005-00018 RI    2005-03-05 00:20:00  Zone X4      NA          NA
3 RI-2005-00036 RI    2005-06-08 08:40:00  Zone X4      NA          NA
4 RI-2005-00075 RI    2005-08-17 13:20:00  Zone X1      NA          NA
5 RI-2005-00076 RI    2005-08-17 15:59:00  Zone X1      NA          NA
6 RI-2005-00081 RI    2005-08-24 18:00:00  Zone X1      NA          NA
  fine_grained_location police_department driver_gender ⋯ search_conducted
1 NA                    000               NA            ⋯ FALSE
2 NA                    500               NA            ⋯ FALSE
3 NA                    500               NA            ⋯ FALSE
4 NA                    000               NA            ⋯ FALSE
5 NA                    000               NA            ⋯ FALSE
6 NA                    000               NA            ⋯ FALSE
  search_type_raw search_type contraband_found stop_outcome is_arrested
1 NA              NA          FALSE            NA           NA
2 NA              NA          FALSE            NA           NA
3 NA              NA          FALSE            NA           NA
4 NA              NA          FALSE            NA           NA
5 NA              NA          FALSE            NA           NA
6 NA              NA          FALSE            NA           NA
  stop_duration out_of_state drugs_related_stop district
1 NA            NA           FALSE              Zone X1
2 NA            NA           FALSE              Zone X4
3 NA            NA           FALSE              Zone X4
4 NA            NA           FALSE              Zone X1
5 NA            NA           FALSE              Zone X1
6 NA            NA           FALSE              Zone X1

Lets use `summarize_all()` and `gather()` to get an overview on missing values across the dataset.

In [15]:
data %>%
  select(-id) %>%
  summarise_all(function(x) sum(is.na(x))) %>%
  pivot_longer(everything())

   name                  value
1  state                      0
2  stop_date                 10
3  stop_time                 10
4  location_raw               0
5  county_name           509681
6  county_fips           509681
7  fine_grained_location 509681
8  police_department         10
9  driver_gender          29097
10 driver_age_raw         29049
11 driver_age             30695
12 driver_race_raw        29073
13 driver_race            29073
14 violation_raw          29073
15 violation              29073
16 search_conducted          10
17 search_type_raw       491919
18 search_type           491919
19 contraband_found           0
20 stop_outcome           29073
21 is_arrested            29073
22 stop_duration          29073
23 out_of_state           29881
24 drugs_related_stop         0
25 district                   0

Clean the data a bit

In [16]:
# We drop the county_name columns.
data %<>%
  select(-county_name)

In [17]:
# Drop all rows where stop_data, time, and driver_gender are missing
data %<>%
  drop_na(stop_date, stop_time, driver_gender)

# Adjusting dates, times and index

In [20]:
# We start by concatenating the two string columns into one that we call combined, using paste()
data %<>%
  mutate(datetime_stop = paste(stop_date, stop_time, sep = " "))

In [21]:
data %>% 
  select(datetime_stop) %>%
  head()

  datetime_stop
1 2005-01-02 01:55:00
2 2005-01-02 20:30:00
3 2005-01-04 12:55:00
4 2005-01-06 01:30:00
5 2005-01-12 08:05:00
6 2005-01-18 08:15:00

In [22]:
# The lubridate library helps us to transform strings into dates ore datetimes (timestamps)
library(lubridate)

In [24]:
data %<>%
  mutate(datetime_stop = datetime_stop %>% as_datetime())

In [25]:
data %>% 
  select(datetime_stop) %>%
  head()

  datetime_stop
1 2005-01-02 01:55:00
2 2005-01-02 20:30:00
3 2005-01-04 12:55:00
4 2005-01-06 01:30:00
5 2005-01-12 08:05:00
6 2005-01-18 08:15:00

# Explore the data step-by-step

In [26]:
# Count number of stop outcomes
data %>%
group_by(stop_outcome) %>%
summarize(n = n())

## Note: Could be done faster with
# data %>% count(stop_outcome)

`summarise()` ungrouping output (override with `.groups` argument)

  stop_outcome     n
1 Arrest Driver     14630
2 Arrest Passenger   1973
3 Citation         428378
4 N/D                3431
5 No Action          3332
6 Warning           28840

In [ ]:
# there are many ways to do the same thing. Meet count(), the short form of group_by(x) %>% summarize(n = n())
data %>%
count(stop_outcome, sort = TRUE)

In [ ]:
# Relative proportions
data %>%
count(driver_race, sort = TRUE) %>%
mutate(pct = (n / sum(n)) %>% round(2) )

### Let's try out some hypotheses

One hypothesis could be that the stop_outcome is different for different races. Discrimination?

In [ ]:
data %>%
count(driver_race, stop_outcome) %>%
group_by(driver_race) %>%
mutate(pct = (n / sum(n)) %>% round(2) )

Nice, can we have that also in a easy to investigate matrix? Sure, lets use `spread()`. Notice there are many more functions to do that, such as `prob.table`, but I here stay in the `dplyr` framework

In [ ]:
data %>%
count(driver_race, stop_outcome) %>%
group_by(driver_race) %>%
mutate(pct = (n / sum(n, na.rm = TRUE)) %>% round(2) ) %>%
select(-n) %>%
spread(stop_outcome, pct)

We might also have a look at nice datasummary. The `summarytools` package has some nice functions to do so.

In [ ]:
# install.packages("summarytools")
# library(summarytools)

In [ ]:
# data %>% dfSummary()

### Filtering by multiple conditions

Again, we can use `dplyr` `filter()` with multiple conditions, or `group_by()` + `summarize()` for summaries in nested groups.

In [ ]:
# Filter for being histanic and arrested
data %>%
filter(driver_race == "Hispanic" & is_arrested == TRUE) %>%
head(10)

##### Rules for filtering

- & AND
- | OR
- Each condition must be surrounded by () and many are possible
- == Equality
- != Inequality

##### Remember, that we are not making any statement about causation. This is purely a correlation exercise (so far!)

#### A bit on boolean series

True = 1 and False = 0
Which means that you can perform calculations on them:

In [ ]:
# Create a DataFrame of male and female drivers stopped for speeding
# We can take a shortcut using `group_by`
data %>%
filter(violation == "Speeding") %>%
count(driver_gender, stop_outcome) %>%
group_by(driver_gender) %>%
mutate(pct = (n / sum(n, na.rm = TRUE)) %>% round(2) )

### "protective frisk"
Sometimes during stops if a search is conducted, the officer also checks the driver if they have a weapon. This is called a "protective frisk".
Let's try to figure out if men are frisked more than women.

In [ ]:
# Look at the different search types performed
data %>%
count(search_type, sort = TRUE)

#### Extracting a string
As you can see, search type is a multiple choice object/string column. *Incident to Arrest* and *Pribable Cause* are the most commont but combinations are possible. Generally, to work with text strings, the `tioyverse` package `stringr` has many useful functions. We can use the `str_detect` method to filter to filter out cases of interest. This will return a boolean series, which we can assign to a new varioable 'frisk' in our dataframe.

**NOTE:** For missing search type values, `str_detect()` would traditionaly output an `NA`, therefore we beforehand replace them with an empty string with `replace_na("")`

In [ ]:
data %<>%
mutate(frisk = search_type %>% replace_na("") %>% str_detect("Protective Frisk") )

In [ ]:
# How many frisks have been performed? (1598)
# Notice that pull() extracts a vector from a dataframe
data %>% pull(frisk) %>% sum()

## Using the datetime index to select data

What if you assume that things got better or worse over the years? Remember the `lubridate` package for handling date-times?

In [ ]:
# Are things getting better or worse over the years?
library(lubridate)

In [ ]:
data %<>%
mutate(year = year(stop_date), month = month(stop_date), day = day (stop_date)) %>%
drop_na(year)

In [ ]:
data %>%
group_by(year) %>%
summarize(frisk_mean = frisk %>% mean())

We can obviously also plot that with `ggplot`.

Note: We use `gather()` to create tidy data where multiple variables can be jointly plotted.

In [ ]:
data %>%
group_by(year) %>%
summarize(frisk = frisk %>% mean(na.rm = TRUE), is_arrested = is_arrested %>% mean(na.rm = TRUE))  %>%
ungroup() %>% 
gather(key = "key", value = "mean", frisk, is_arrested) %>%
ggplot(aes(x = year, y = mean, color = key)) +
geom_line()

We can do grouping on different levels. For instance, lets see in which months we have most arrests

In [ ]:
data %>% 
filter(is_arrested == TRUE) %>%
ggplot(aes(x = month)) + geom_bar()

We see arrest rates are higher in the winter than in the summer.

### Transforming categorical in to nummerical data

You may have noted the `stop_duration` column in our dataset and that it is an `string` variable. That means, we can use it as a dimension but not to perform any calculations. What we can do, is map the categories to a reasonable nummerical value using a mapping dictionary the  `recode` command.

In [ ]:
data %>%
count(stop_duration)

In [ ]:
data %<>%
  mutate(stop_duration_num =  recode(stop_duration, "0-15 Min" = 7.5 , "16-30 Min" = 23, "30+ Min" = 45, ) )

In [ ]:
data %>%
count(stop_duration_num)

#### A quick intro to loops

Is quite covered in my R intro.

In [ ]:
# Let's do everything in one line
data %>%
group_by(violation_raw) %>%
summarize(stop_duration_num = mean(stop_duration_num, na.rm = TRUE))  %>%
ggplot(aes(x = violation_raw, y = stop_duration_num)) +
geom_col() +
coord_flip() # To have horizontal bars

#### Cutting intervals

`driver_age` contains the (duh) the age of the driver. It's a continuous nummerical value and thus good for more advanced analysis but perhaps a bit to detailed for exploration.

More instrumental in that context would be to slice that variable up into ordered categries corresponding to age-populations of interest, say "teen", "20s", "30s" etc.

In [ ]:
data %>% select(driver_age) %>% summary()

In [ ]:
# Create categories with cut()
data %>% 
mutate(driver_age_cat = driver_age %>% cut(5)) %>%
head()

In [ ]:
# We can also provide labels
labs <- c("teen", "20s", "30s", "40s", "50+")

# Create categories with cut()
data %>% mutate(driver_age_cat =  driver_age %>% cut(breaks = c(20,30,40,50)) %>% head()